<ion-view view-title="Hello World!">
  <ion-content class="padding">
    <div class="list card">
      <div class="item item-divider">Hola tutor</div>
      <div class="item item-body">
        <div>
          Hola Carles, això és una aplicació Hello World
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Més informació</div>
      <div class="item item-body">
        <div>
          Està feta amb Ionic, però la he pujat a github.
        </div>
      </div>
    </div>
    <div class="list card">
      <div class="item item-divider">Més coses...</div>
      <div class="item item-body">
        <div>
          Faré moltes més preguntes!
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>
